<ul class="cb-slideshow">
    <li>
        <span>Image 01</span>
        <div>
            <h3>mondtam mar?</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>imadlak <3</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>Hianyzol...</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>Hianyzol...</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>Hianyzol...</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>Ja es ide megyunk</h3>
        </div>
    </li>
</ul>
<timer interval="1000" end-time="1443289800000">
    <div class="row text-center">
        <h1>Mar csak</h1>
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h1>{{days}}</h1>
            <h3>nap</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h1>{{hours}}</h1>
            <h3>ora</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h1>{{minutes}}</h1>
            <h3>perc</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h1>{{seconds}}</h1>
            <h3>masodperc</h3>
        </div>
    </div>
</timer>

